alembic==0.9.9
backcall==0.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
decorator==4.3.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
parso==0.2.1
pickleshare==0.7.4
praw==5.4.0
prawcore==0.14.0
prompt-toolkit==1.0.15
Pygments==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.7
traitlets==4.3.2
update-checker==0.16
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
win-unicode-console==0.5
