{% extends "common/base.html" %}

{% block head %}
{{ super() }}
    {% block additional_styles %}
        {% assets "timer_mobile_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endblock %}
{% endblock %}

{% block content %}
<canvas id="shapes"></canvas>
<div class="container-fluid timer-container">
    <div class="row" style="height: 100%;">

        <div class="upper_portion">
            <div class="scramble_wrapper">
                <div class="scramble_area">
                    <div class="scram flex_full_center text-center">{{scramble}}</div>
                </div>
                <div class="times text-center">
                    {% for solve in user_solves %}
                    <div class="single_time">{{ solve }}</div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="timer_controls_wrapper">
                <div id="the_timer">
                    <div class="timer_text text-center">0.00</div>
                </div>
                <div class="mods_area">
                    <div class="controls_wrapper">
                        <div class="control_icon"><button class="btn btn-outline-light btn-timer-control"><i class="fas fa-undo"></i></button></div>
                        <div class="control_icon"><button class="btn btn-outline-light btn-timer-control">+2</button></div>
                        <div class="control_icon"><button class="btn btn-outline-light btn-timer-control">DNF</button></div>
                        <div class="control_icon"><button class="btn btn-outline-light btn-timer-control"><i class="far fa-comment"></i></button></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lower_portion">
            <div style="position: absolute; bottom: 0; right: 0; border: 2px solid white; margin: 5px; padding: 10px; color: white;">
                <p>
                    scramble preview here<br>
                    but, ya know, an image
                </p>
            </div>
            <!-- <div class="preview flex_full_center">
                <canvas id="normal_scramble_image"></canvas>
            </div> -->
        </div>

    </div>
</div>
{% endblock %}

{% block additional_script %}
<script>
    window.app = {};
    $(function() {
        textFit($('.scram')[0], {multiLine: true, maxFontSize: 40});
    })
</script>
{% assets "shapes_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}