{% extends "common/base.html" %}

{% block head %}
{{ super() }}
    {% block additional_styles %}
        {% assets "timer_mobile_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endblock %}
{% endblock %}

{% block content %}
<canvas id="pentagons"></canvas>
<div class="container-fluid timer-container mobile">
    <div class="row" style="height: 100%;">

        <div class="upper_portion">
            <div class="upper_area">
                <div class="scramble_area mobile">
                    <div class="scram2 flex_full_center text-center mobile">{{scramble}}</div>
                </div>
                <div class="times text-center">
                    <div class="single_time">9.23</div>
                    <div class="single_time">14.97</div>
                    <div class="single_time">17.23+</div>
                    <div class="single_time">DNF</div>
                    <div class="single_time">—</div>
                </div>
            </div>
            
            <div class="lower_area">
                <div id="the_timer" class="mobile">
                    <div class="timer_text text-center mobile">0.00</div>
                </div>
                <div class="mods_area">
                    <div class="controls_wrapper mobile">
                        <div class="control_icon mobile"><button class="btn btn-outline-light btn-timer-control mobile"><i class="fas fa-undo"></i></button></div>
                        <div class="control_icon mobile"><button class="btn btn-outline-light btn-timer-control mobile">+2</button></div>
                        <div class="control_icon mobile"><button class="btn btn-outline-light btn-timer-control mobile">DNF</button></div>
                        <div class="control_icon mobile"><button class="btn btn-outline-light btn-timer-control mobile"><i class="far fa-comment"></i></button></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lower_portion">
            <div style="position: absolute; bottom: 0; right: 0; border: 2px solid white; margin: 5px; padding: 10px; color: white;">
                <p>
                    scramble preview here<br>
                    but, ya know, an image
                </p>
            </div>
            <!-- <div class="preview flex_full_center">
                <canvas id="normal_scramble_image"></canvas>
            </div> -->
        </div>

    </div>
</div>
{% endblock %}

{% block additional_script %}
<script>
    window.app = {};
    $(function() {
        textFit($('.scram2')[0], {multiLine: true, maxFontSize: 40});
    })
</script>
{% assets "pentagons_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}