{% extends "common/base.html" %}

{% block head %}
{{ super() }}
    {% block additional_styles %}
        {% assets "timer_mobile_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endblock %}
{% endblock %}

{% set SUBTYPE_TIMER  = 'subtype_timer' %}
{% set SUBTYPE_MANUAL = 'subtype_manual' %}
{% set SUBTYPE_FMC    = 'subtype_fmc' %}
{% set SUBTYPE_MBLD   = 'subtype_mbld' %}

{% block content %}
{% if show_shapes_background %}
<canvas id="shapes"></canvas>
{% endif %}
<div class="container-fluid timer-container">
    <div class="row" style="height: 100%;">

        <div class="upper_portion">
            <div class="scramble_wrapper">
                <div class="scramble_area">
                    <div class="scram flex_full_center text-center">
                        {% if event_name == "COLL" %}
                            {{ scramble_text|safe }}
                        {% else %}
                            {% if '\n' in scramble_text %}
                                {% set parts = scramble_text.split('\n') %}
                                {% for part in parts %}
                                    {{part}}
                                    <br>
                                {% endfor %}
                            {% else %}
                                {{scramble_text}}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="times text-center">
                    {% for solve in user_solves %}
                    <div class="single_time">{{ solve }}</div>
                    {% endfor %}
                </div>
            </div>

            {% if page_subtype == SUBTYPE_TIMER %}
                {% include "timer/subtypes/timer.html" %}
            {% endif %}
            {% if page_subtype == SUBTYPE_MANUAL %}
                {% include "timer/subtypes/manual_entry.html" %}
            {% endif %}
            {% if page_subtype == SUBTYPE_FMC %}
                {% include "timer/subtypes/fmc_entry.html" %}
            {% endif %}
            {% if page_subtype == SUBTYPE_MBLD %}
                {% include "timer/mobile/subtypes/mbld_entry.html" %}
            {% endif %}
            
        </div>

        <div class="lower_portion">
            {% if show_scramble_preview %}
            {% if hide_scramble_preview %}
                {% set preview_no_pointer = 'no_pointer' %}
            {% endif %}
            <div class="scramble_preview {{preview_no_pointer}} flex_full_center">
                {% if hide_scramble_preview %}
                <div class="flex_full_center">
                    <button class="btn btn-outline-secondary btn_scramble_preview">
                        Show<br>Scramble Preview
                    </button>
                </div>
                {% else %}
                <canvas id="normal_scramble_image"></canvas>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </div>
</div>
<div id="fade-wrapper">
    <div>
        <canvas id="big_scramble_image"></canvas>
    </div>
</div>
{% endblock %}

{% block additional_script %}
{% assets "init_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
    (function() {
        window.app.scramble = {{scramble_text|tojson}};
        window.app.scrambleId = {{scramble_id|tojson}};
        window.app.eventName = {{event_name|tojson}};
        window.app.compEventId = {{comp_event_id|tojson}};
        window.app.doShowScramble = {{show_scramble_preview|tojson}};
        window.app.lastResult = {{last_solve|tojson}};
        window.app.comment = {{comment|tojson}};
        window.app.isComplete = {{is_complete|tojson}};
        window.app.settings_data = {{ settings|tojson }};
        window.app.isMobile = true;
    })();
</script>

{% if page_subtype == SUBTYPE_TIMER %}
{% assets "timer_timer_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}

{% if page_subtype == SUBTYPE_MANUAL %}
{% assets "timer_manual_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}

{% if page_subtype == SUBTYPE_FMC %}
{% assets "timer_fmc_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}

{% if page_subtype == SUBTYPE_MBLD %}
{% assets "timer_mbld_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}

{% endblock %}