{% extends "common/base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 15px;">
        <p>
            Copy the comment source below, and submit your times to the <a href="{{ comp_url }}">competition thread.</a>
        </p>
        <div class="comment_source" style="border: 1px solid grey; border-radius: 3px; background-color: #FFFFF0; padding: 10px;">
            <pre><code>{{ comment_source }}</code></pre>
        </div>
    </div>
{% endblock %}