
// At the broadest level of the desktop layout, the left portion
// Contains the sidebar, which has times and scramble preview
.left_portion {
    width: 20%;
    height: 100%;
}

// At the broadest level of the desktop layout, the right portion
// Contains the timer, controls, and scramble area
.right_portion {
    width: 80%;
    height: 100%;

    .scramble_wrapper {
        display: flex;
    
        height: 30%;
        width: 100%;
    }
}

// This seems to work well on desktop, even with resizing the browser
.timer_text {
    font-size: 12vw;
    bottom: -5vh;
}

.scramble_area {
    width: 100%;
    height: 100%;

    padding: 10px 20px;
}

.timer_controls_wrapper {
    height: 70%;
    width: 100%;
}

.control_icon {
    margin: 0 1vw;
}

.btn-timer-control {
    height: 48px;
    width: 75px;
}

.sidebar {
    background-color: white;
    padding: 10px;
    height: 100%;
    width: 100%;

    box-shadow: 5px 0px 7px 0px rgba(0,0,0,0.64);
    -webkit-box-shadow: 5px 0px 7px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 5px 0px 7px 0px rgba(0,0,0,0.64);
}

.times {
    height: 50%;

    .solves_header {
        text-align: left;
        height: 10%;
    }
}

.scramble_preview {
    height: 50%;
}

.single_time {
    padding: 5px;
    font-size: 18px;
    border-bottom: 1px solid #eeeeee;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 18%;
}

.sidebar_wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}