{% if competition_event.id in complete_events.keys() %}
    {% set additional_class = 'complete' %}
{% else %}
{% if competition_event.id in incomplete_events %}
    {% set additional_class = 'incomplete' %}
{% else %}
{% set additional_class = '' %}
{% endif %}
{% endif %}
<div class="event-card drop-shadow {{ additional_class }}"
    data-compete_url="{{ url_for('timer_page', comp_event_id=competition_event.id)}}">

    <div class="event-image-container">
        <img class="event-image" src="./static/images/cube-{{ competition_event.Event.name | slugify }}.png">
        <div class="overlay complete-overlay">
            <a href="#" class="icon"><i class="fas fa-check"></i></a>
        </div>
        <div class="overlay incomplete-overlay">
            <a href="#" class="icon"><i class="far fa-clock"></i></a>
        </div>
    </div>
    <div class="event-name">
        <hr>
        {% if competition_event.Event.name == "3x3 Mirror Blocks/Bump" %}
            {% set name = "Mirror Blocks" %}
        {% else %}
            {% set name = competition_event.Event.name %}
        {% endif %}
        <div class="row">
            <div class="col-12"><span class="event-title">{{ name }}</div>
        </div>
    </div>
    {% set int_id = competition_event.id|int %}
    <span class="event-summary">{{ complete_events.get(int_id, '') }}</span>
    {% if competition_event.id in bonus_events_ids %}
    <div class="bonus-event-indicator"><i class="fas fa-gift"></i></div>
    {% endif %}
</div>
