{% extends "common/base.html" %}

{% block head %}
{{ super() }}
    {% block additional_styles %}
        {% assets "user_settings_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endblock %}
{% endblock %}

{% block content %}
{% endblock %}

{% block additional_script %}
{% assets "shapes_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
    $(function () {

        var disableThese = function(i, codeToDisable) {
            var $groupToDisable = $("div[data-setting_code='" + codeToDisable + "']");
            $groupToDisable.addClass('disabled-group');
            $groupToDisable.find("[data-disable_me='true']").addClass('disabled');
            $groupToDisable.find("[data-disable_me_as_group='true']").addClass('disabled');

            $groupToDisable.find("[data-disable_me='true']").find('.colorpicker').spectrum("disable");
            $groupToDisable.find("[data-disable_me_as_group='true']").find('.colorpicker').spectrum("disable");
        };

        var enableThese = function(i, codeToEnable) {
            var $groupToEnable = $("div[data-setting_code='" + codeToEnable + "']");
            $groupToEnable.removeClass('disabled-group');
            $groupToEnable.find("[data-disable_me='true']").removeClass('disabled');
            $groupToEnable.find("[data-disable_me_as_group='true']").removeClass('disabled');

            $groupToEnable.find("[data-disable_me='true']").find('.colorpicker').spectrum("enable");
            $groupToEnable.find("[data-disable_me_as_group='true']").find('.colorpicker').spectrum("enable");
        }

        // Disable or enable other settings if this one becomes disabled
        var handleToggleEnabledForSetting = function($settingFormGroup) {

            // If this setting in this form group does not have a list of setting codes in its
            // data-affects attribute, it doesn't affect other settings, so just bail.
            var affects = $settingFormGroup.data('affects');
            if (affects == 'None') { return; }

            var oppositeAffects = $settingFormGroup.data('opposite_affects') == "True";

            // Build a list of settings that this one affects
            var affectedSettingsList = JSON.parse(affects.replace(/'/g, '"'));

            // Get the radio button value for this setting
            var code = $settingFormGroup.data('setting_code');
            var radioValue = $("input[name='" + code + "']:checked").val();

            if (radioValue == "false") {
                if (oppositeAffects) {
                    $.each(affectedSettingsList, enableThese);
                } else {
                    $.each(affectedSettingsList, disableThese);
                }
            } else {
                if (oppositeAffects) {
                    $.each(affectedSettingsList, disableThese);
                } else {
                    $.each(affectedSettingsList, enableThese);
                }
            }

            $.each(affectedSettingsList, function(i, childCodeToCheck){
                var $groupToCheck = $("div[data-setting_code='" + childCodeToCheck + "']");
                handleToggleEnabledForSetting($groupToCheck);
            });
        };

        // Add a click handler to form groups to automatically disable/enable other settings
        var affectOtherSettings = function(){ handleToggleEnabledForSetting($(this)); };
        $('.form-group').click(function(){ setTimeout(affectOtherSettings.bind(this), 50); });

        $('input[type=radio]').change(function() {
            var new_value = this.value;
            var radio_setting = {};
            radio_setting[this.name] = this.value;

            $.ajax({
                url: '/settings/save',
                type: "POST",
                data: JSON.stringify(radio_setting),
                contentType: "application/json",
                error: function(xhr) {
                    bootbox.alert("Something unexpected happened: " + xhr.responseText);
                }
            });
        });
    })
</script>
{% endblock %}