{% extends "user/settings/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<canvas id="shapes"></canvas>
<div class="cubers-container">
    <div class="container">
        <div class="row mb-3 mt-3">
            <div class="col-10 offset-1 text-center settings-header">
                <h3>Custom Color Settings for {{ header_msg[0] }}</h3>
                {% if not is_mobile %}
                <span>{{ header_msg[1] }}</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                {% for setting in settings %}
                    {% if setting.type == 'boolean' %}
                    {% include 'user/settings/boolean_setting.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row flex-center-all">
            {% for setting in settings %}
                {% if setting.type == 'hex_color' %}{% include 'user/settings/color_setting.html' %}{% endif %}
            {% endfor %}
        </div>
        <div class="row flex-center-all mb-3 mt-3">
            {% if is_mobile %}
            <div class="col-8 scramble_preview no_pointer">
                <div style="background-color: white; border-radius: 10px; padding: 20px;">
                    <canvas id="normal_scramble_image"></canvas>
                </div>
            </div>
            {% else %}
            <div class="col-5 scramble_preview no_pointer">
                <div style="background-color: white; border-radius: 10px; padding: 20px;">
                    <canvas id="normal_scramble_image"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block additional_script %}
{{ super() }}
<script>
    $(function () {
        $(".colorpicker").spectrum({
            preferredFormat: "hex",
            allowEmpty: false,
            showInput: true,
            showInitial: true,
            showPalette: true,
            {% if disabled_settings %}
            disabled: true,
            {% endif %}
            palette: {{ default_colors | tojson }},
            showButtons: false
        });

        window.app.settings_data = {};
        window.app.userSettingsManager = new window.app.UserSettingsManager();
        window.app.isMobile = {{ is_mobile | tojson }};

        window.app.scramble = "";
        window.app.eventName = {{ faux_event_name | tojson }};

        var imageGenerator = new window.app.ScrambleImageGenerator();

        var newColors = null;

        var setCurrentColors = function(color, setting) {
            if (window.app.eventName == "3x3") {
                // [D, L, B, U, R, F];
                newColors = [
                    $(".input-group input[name='custom_cube_color_D']").val(), 
                    $(".input-group input[name='custom_cube_color_L']").val(), 
                    $(".input-group input[name='custom_cube_color_B']").val(), 
                    $(".input-group input[name='custom_cube_color_U']").val(), 
                    $(".input-group input[name='custom_cube_color_R']").val(), 
                    $(".input-group input[name='custom_cube_color_F']").val(), 
                ];
                if (color != null) {
                    var settingIndexMap = {
                        'custom_cube_color_D': 0,
                        'custom_cube_color_L': 1,
                        'custom_cube_color_B': 2,
                        'custom_cube_color_U': 3,
                        'custom_cube_color_R': 4,
                        'custom_cube_color_F': 5,
                    }
                    newColors[settingIndexMap[setting]] = color;
                }
            }
            if (window.app.eventName == "Megaminx") {
                newColors = [
                    $(".input-group input[name='custom_mega_color_1']").val(), 
                    $(".input-group input[name='custom_mega_color_2']").val(), 
                    $(".input-group input[name='custom_mega_color_3']").val(), 
                    $(".input-group input[name='custom_mega_color_4']").val(), 
                    $(".input-group input[name='custom_mega_color_5']").val(), 
                    $(".input-group input[name='custom_mega_color_6']").val(), 
                    $(".input-group input[name='custom_mega_color_7']").val(), 
                    $(".input-group input[name='custom_mega_color_8']").val(), 
                    $(".input-group input[name='custom_mega_color_9']").val(), 
                    $(".input-group input[name='custom_mega_color_10']").val(), 
                    $(".input-group input[name='custom_mega_color_11']").val(), 
                    $(".input-group input[name='custom_mega_color_12']").val(), 
                ];
                if (color != null) {
                    var settingIndexMap = {
                        'custom_mega_color_1': 0,
                        'custom_mega_color_2': 1,
                        'custom_mega_color_3': 2,
                        'custom_mega_color_4': 3,
                        'custom_mega_color_5': 4,
                        'custom_mega_color_6': 5,
                        'custom_mega_color_7': 6,
                        'custom_mega_color_8': 7,
                        'custom_mega_color_9': 8,
                        'custom_mega_color_10': 9,
                        'custom_mega_color_11': 10,
                        'custom_mega_color_12': 11,
                    }
                    newColors[settingIndexMap[setting]] = color;
                }
            }
        };

        var injectColors = function() {
            if (window.app.eventName == "3x3") {
                imageGenerator.injectCubeColors(newColors);
            }
            if (window.app.eventName == "Megaminx") {
                imageGenerator.injectMegaColors(newColors);
            }
        }

        var updateSavedColor = function(e, color) {
            var color_setting = {};
            color_setting[this.name] = color.toHexString();

            $.ajax({
                url: '/settings/save',
                type: "POST",
                data: JSON.stringify(color_setting),
                contentType: "application/json",
                error: function(xhr) {
                    bootbox.alert("Something unexpected happened: " + xhr.responseText);
                }
            });
        };

        var updateScrambleImage = function(e, color) {
            
            var update_color = null;
            var color_setting = null;

            if (color != null) {
                update_color = color.toHexString();
                color_setting = this.name;
            }

            setCurrentColors(update_color, color_setting);
            injectColors();
            imageGenerator.prepareNewImage();
        }

        updateScrambleImage(null, null);

        $(".colorpicker").on('move.spectrum', updateScrambleImage);
        $(".colorpicker").on('change', updateSavedColor);
    })
</script>
{% endblock %}