{% extends "user/settings/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<canvas id="shapes"></canvas>
<div class="cubers-container">
    <div class="container">
        <form id="settingsForm" method="POST">
            <div class="row mb-3 mt-3">
                <div class="col-8 offset-2 text-center settings-header">
                    <h3>Events Settings</h3>
                    <span>Click to toggle events off/on. Decide which events you want to see on your home page!</span>
                </div>
            </div>
            {% include 'user/settings/hidden_events_setting.html' %}
        </form>
    </div>
</div>
{% endblock %}