<div class="row event-cards">
    {% for event in events %}
    {% if event.id in hidden_event_ids %}
        {% set true_checked = 'checked' %}
        {% set true_active = 'active' %}
        {% set false_checked = '' %}
        {% set false_active = '' %}
    {% else %}
        {% set true_checked = '' %}
        {% set true_active = '' %}
        {% set false_checked = 'checked' %}
        {% set false_active = 'active' %}
    {% endif %}
    <div class="event-card card-for-settings drop-shadow">
        <div class="event-image-container">
            <img class="event-image" src="/static/images/cube-{{ event.name | slugify }}.png">
            <div class="overlay complete-overlay">
                <a href="#" class="icon"><i class="fas fa-check"></i></a>
            </div>
            <div class="overlay incomplete-overlay">
                <a href="#" class="icon"><i class="far fa-clock"></i></a>
            </div>
        </div>
        <div class="event-name">
            <hr>
            {% if event.name == "3x3 Mirror Blocks/Bump" %}
                {% set name = "Mirror Blocks" %}
            {% else %}
                {% set name = event.name %}
            {% endif %}
            <div class="row">
                <div class="col-12"><span class="event-title">{{ name }}</div>
            </div>
        </div>
        {% if event.id in bonus_events_ids %}
        <div class="bonus-event-indicator"><i class="fas fa-gift"></i></div>
        {% endif %}
    </div>
{% endfor %}
</div>
