<div class="timer_controls_wrapper">
    {% set timer_disabled = 'disabled' if is_complete else '' %}
    <div id="the_timer" class="{{timer_disabled}}">
        <div class="timer_text flex_full_center">
            <div id="seconds" class="timer-element">{{last_seconds}}</div>
            <div id="dot" class="timer-element">
                {% if hide_timer_dot %}
                {% else %}
                .
                {% endif %}
            </div>
            <div id="centiseconds" class="timer-element">{{last_centis}}</div>
        </div>
    </div>
    {% include "timer/subtypes/control_buttons.html" %}
</div>