
// Variables
@off-white: #ECECEC;
@highlight-color: #187FA5;

@desktop:   ~"only screen and (min-width: 800px)";
@tablet:    ~"only screen and (min-width: 420px) and (max-width: 799px)";
@mobile:    ~"only screen and (max-width: 419px)";

//------------------------------------------------------------------------

html,body {
    background-color: @off-white !important;
}

.drop-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    border-width: 0px !important;

    &:hover {
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    }
}

.ultra-hidden {
    display: none !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.disabled {
    cursor: default;
}

.cubers-container {
    padding-top: 56px;
}

.comp-info {
    text-align: center;
    justify-content: center!important;
}

.btn-return {
    background-color: #3A8AAF;
    border-color: #3A8AAF;
    color: white;

    &:hover {
        background-color: darken(#3A8AAF, 10%);
        border-color: darken(#3A8AAF, 10%);
    }
}

.btn-submit {
    background-color: rgb(58, 175, 58);
    border-color: rgb(58, 175, 58);
    color: white;

    &:hover {
        background-color: darken(rgb(58, 175, 58), 10%);
        border-color: darken(rgb(58, 175, 58), 10%);
    }
}

.input-icon {
    color: #3A8AAF!important;
}

//-------------------------------------

.flex-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}