
// Variables
@site-bg-color: #F9F9F9;
@navbar-color: #001427;
@highlight-color: #0992c4;

// Screen sizes (https://getbootstrap.com/docs/4.0/layout/grid/)
@screen-xs: 575px;
@screen-sm: 767px;
@screen-md: 991px;
@screen-lg: 1199px;

html,body {
    background-color: @site-bg-color !important;
    overflow-x: hidden;
}

body {
    padding-bottom: 50px;
}

@media (max-width: @screen-sm) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .scramble-num {
        display: none;
    }
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// Because for some reason Bootstrap has !important tags... why? IDK.
.ultra-hidden {
    display: none !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.disabled {
    cursor: default;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    border-width: 0px !important;
    transition-property: box-shadow, box-shadow;
}

.cubers-container {
    background-color: #cc4545;
}

.cubers-navbar {
    border-radius: 0;
    background-color: @navbar-color;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: @highlight-color;
}

.cubers-navbar {
    a {
        color: @site-bg-color !important;
    }

    .active a {
        color: @highlight-color !important;
    }
}

.cubers-navbar .nav-link {
    color: @site-bg-color !important;
}

.nav-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;

    li {
        display: inline-block !important;
        float: none;
    }
}

.scrambles .scramble {
    font-size: 15pt;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 3px;
    position: relative;
    margin-left: none !important;
    margin-right: none !important;

    &:hover {
        background-color: lightgray;
    }

    &.solved:not(.active) {

        background-color: #3e7a4b;
        color: @site-bg-color;

        &:hover {
            background-color: #4b9e5d;
        }

        &.dnf {
            background-color: #96313b;

            &:hover {
                background-color: #b72d3b;
            }
        }

        &.plus-two {
            background-color: #e28009;

            &:hover {
                background-color: #ff8e05;
            }
        }
    }

    &.active {
        background-color: @highlight-color !important;
        color: @site-bg-color !important;
    }

    & .dv-scramble-time {
        display: none;
    }

    &.solved .dv-scramble-time {
        display: block;
    }
}

.btn-cubers-primary-outline {
    background-color: transparent;
    background-image: none;
    border-color: @highlight-color;
    color: @highlight-color;

    &:not(.disabled):hover {
        background-color: @highlight-color;
        color: @site-bg-color;
    }
}

.btn-dnf.pressed {
    background-color: #dc3545;
    color: @site-bg-color;
}

.btn-plus-two {
     background-color: transparent;
     background-image: none;
     border-color: #e28009;
     color: #e28009;

     &:not(.disabled):hover {
        background-color: #e28009;
        color: @site-bg-color;
     }

     &.pressed {
        background-color: #e28009;
        color: @site-bg-color;  
     }
}

.list-group-item:not(.unfinished) .unfinished-warning {
    display: none;
}

#dv-timer {
    .timer-time {
        font-size: 6rem;
        line-height: 1;
    }

    .result {
        cursor: pointer;
        font-size: 1.5rem;
        border-radius: 3px;
        overflow-y: hidden;
        display: inline-block;
        line-height: 44px;

        -webkit-transition:height 200ms ease-in;
        -moz-transition:height 200ms ease-in;
        -o-transition:height 200ms ease-in;
        transition:height 200ms ease-in;

        &:hover {
            background-color:lightgray;
        }
        
        &.solved {
            padding-left: 15px;
            padding-right: 15px;
            height: 44px;
            width: auto;
        }

        &:not(.solved) {
            height: 0px !important;
            width: 0px;
        }

        & + .result.solved {
            margin-left: 10px;
        }

        .num {
            font-weight: 100;
            font-size: 1.2rem;
        }

        &.active {
            background-color: @highlight-color;
            color: @site-bg-color;

            .num {
                color: ghostwhite !important;
            }
        }
    }

    .timer-scramble {
        font-size: 2rem;
    }

    .dv-scrambles-dropdown {
        #active-mixin() {
            background-color: lightgray;
        }

        &.show .btn-scrambles {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            opacity: 0;

            #active-mixin();
        }

        .btn-scrambles {
            background-color: transparent;
            color: #3d3d3d;
            width: 100%;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
            border-radius: 2px;
            border-width: 0px;
            transition-property: box-shadow, box-shadow;

            &:hover {
                #active-mixin();
            }
        }

        .scrambles-dropdown {
            width: 100%;
            text-align: center;
            margin-top: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 0;
            display: block;
            opacity: 0;
            transform: translate3d(0, 0, 0) !important;
            box-shadow: 0 6px 4px 4px rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
            border-radius: 4px;
            transition-property: box-shadow, box-shadow;

            a {
                
                &:hover {
                    background-color: #e0e0e0;
                }
            }

            &.show {
                opacity: 1;
                height: auto;
            }
        }

        .scrambles-dropdown , .btn-scrambles {
            font-size: 1.5rem;
        }
    }
}

.dropdown-item {
    overflow:hidden;
    height:0rem;
    padding: 0px;

    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}

.scrambles-dropdown.show .dropdown-item {
    height: 3rem;
    padding: 4px;
}


.btn, input {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    border-width: 0px;
    transition-property: box-shadow, box-shadow, background-color, color;
}

#timer-helper-text {
    margin-bottom: 0px;
    height: 0px;
    overflow-y: hidden;

    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;

    .result.solved ~ & {
        margin-top: 20px;
        height: 40px;
    }
}

.comp-info {
    margin-top: 15px;
    text-align: center;
    justify-content: center!important;
}

.event-cards {
    justify-content: center!important;
}

.event-card {
    cursor: pointer;

    text-align: center;

    margin: 15px;
    padding: 15px 15px 5px 15px;
    
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;

    .event-image {
        height: 135px;
        width: 135px;

        -webkit-filter: saturate(0%) brightness(1.40);
        filter: saturate(0%) brightness(1.40);

        -webkit-transition: filter 250ms ease;
        -moz-transition: filter 250ms ease;
        -o-transition: filter 250ms ease;
        transition: filter 250ms ease;
    }

    .event-name h5 {
        margin-bottom: none;
    }

    &:hover {
        transform: translate(0px, -10px);
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;

        .event-image {
            -webkit-filter: saturate(75%);
            filter: saturate(75%);
        }
    }
}
