
// Variables
@site-bg-color: #F9F9F9;
@navbar-color: #001427;
@highlight-color: #0992c4;

html,body {
    background-color: @site-bg-color !important;
}

.cubers-container {
    background-color: #cc4545;
}

.cubers-navbar {
    border-radius: 0;
    background-color: @navbar-color;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: @highlight-color;
}

.cubers-navbar .active a {
    color: @highlight-color !important;
}

.cubers-navbar a {
    color: @site-bg-color !important;
}

.nav-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: block !important;
}

.nav-scroll li {
    display: inline-block !important;
    float: none;
}

.scrambles .scramble {
    font-size: 15pt;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 3px;
    position: relative;
    margin-left: none !important;
    margin-right: none !important;
}

.scramble.solved:not(.active) {
    background-color: #3e7a4b;
    color: @site-bg-color;
}

.scramble:not(.active):hover {
    background-color: lightgray;
}

.scramble.solved:not(.active):hover {
    background-color: #4b9e5d;
}

.scramble.solved.dnf:not(active) {
    background-color: #96313b;
}

.scramble.solved.dnf:not(active):hover {
    background-color: #b72d3b;
}

.scramble.solved.plus-two:not(active) {
    background-color: #e28009;
}

.scramble.solved.plus-two:not(active):hover {
    background-color: #ff8e05;
}

.scramble.active {
    background-color: @highlight-color !important;
    color: @site-bg-color !important;
}

.btn-cubers-primary-outline {
    background-color: transparent;
    background-image: none;
    border-color: @highlight-color;
    color: @highlight-color;
}

.btn-cubers-primary-outline:not(.disabled):hover {
    background-color: @highlight-color;
    color: @site-bg-color;
}

.btn-dnf.pressed {
    background-color: #dc3545;
    color: @site-bg-color;
}

.btn-plus-two {
     background-color: transparent;
     background-image: none;
     border-color: #e28009;
     color: #e28009;
}

.btn-plus-two:not(.disabled):hover {
    background-color: #e28009;
    color: @site-bg-color;
}

.btn-plus-two.pressed {
    background-color: #e28009;
    color: @site-bg-color;   
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.list-group-item:not(.unfinished) .unfinished-warning {
    display: none;
}

