.table-cubersio {
    font-size: 14px;

    th {
        font-weight: normal;
    }

    .hey-its-me {
        background-color: rgb(203, 247, 203) !important;
        font-weight: 550;
    }
}

.event-results-area {
    padding: 20px;
    border-bottom: 1px solid lightgrey;

    .event-results-header {

        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .event-image {
            float: left;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            -webkit-filter: saturate(0%) brightness(1.40);
            filter: saturate(0%) brightness(1.40);
        }

        .event-name {
            margin-bottom: 0;
        }
    }
}

.results-links-area {
    padding: 20px;

    display: flex;
    justify-content: center;

    .event-link {
        display: inline-block;
        margin: 5px;
        padding: 5px;
    }

    .event-image {
        width: 40px;
        height: 40px;
    }
}