@import "common.less";

.event_summary_wrapper {
    width: 100%;
}

.event_summary {
    padding: 10px 10px 10px 0px;
    margin: 5px 0px;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    border-width: 0px !important;
    transition-property: box-shadow, box-shadow;
    background-color: white;

    .comment, .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .summary {
        &:after {
            content: attr(data-long);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @media @mobile {
            &:after {
                content: attr(data-short);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        @media @tablet {
            &:after {
                content: attr(data-short);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .event-image {
        width: 30px;
        height: 30px;
        -webkit-filter: saturate(0%) brightness(1.40);
        filter: saturate(0%) brightness(1.40);
    }
}

.summary-row {
    margin-top: 25px;

    &>span {
        width: 100%;
    }
}