@import (reference) "common.less";

//------------------------------------------------------------------------

.event-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        -webkit-filter: saturate(0%) brightness(1.40);
        filter: saturate(0%) brightness(1.40);

        width: 100px;
        height: 100px;
    }
}

.scramble-wrapper {
    font-family: 'Roboto', sans-serif;

    height: ~"calc(25% - 43px)";
    font-size: 24px;
    &.big {
        font-size: 32px;
    }
    @media @mobile {
        font-size: 12px;
        height: ~"calc(25% - 43px)";
        &.big {
            font-size: 24px;
        }
    }
    @media @tablet {
        font-size: 24px;
        height: ~"calc(35% - 43px)";
        &.big {
            font-size: 32px;
        }
    }

    background-color: #FCFCFC;
    width: 100%;

    .scram {
        margin-top: 10px;
        margin-bottom: 10px;
        height: ~"calc(100% - 21px)";
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.times-wrapper {
    text-align: center;
    height: 70%;
    @media @tablet {
        height: ~"calc(30% - 68px)";
        width: initial;
    }
    @media @mobile {
        height: ~"calc(30% - 68px)";
        width: initial;
    }

    .timer-pg-card {
        cursor: pointer;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 2px;

        margin: 5px 0 5px 0;
        min-height: 30px;
        @media @mobile {
            min-height: initial;
            background-color: initial;
            border: none;
            box-shadow: none;
        }
        @media @tablet {
            min-height: initial;
            background-color: initial;
            border: none;
            box-shadow: none;
        }
    }

    .single-time {
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;

        display: flex;
        align-items: center;

        border-left: 5px solid rgb(218, 159, 159);
        @media @mobile {
            border-left: initial;

        }
        @media @tablet {
            border-left: initial;

        }

        font-family: 'Roboto', sans-serif;

        &.complete {
            border-left-color: rgb(163, 214, 163);
            @media @mobile {
                border-left-color: initial;

            }
            @media @tablet {
                border-left-color: initial;
            }
        }

        &.active {
            border-left-color: rgb(163, 214, 163);
            background-color: lighten(rgb(163, 214, 163), 15%);
            @media @mobile {
                background-color: initial;
                border-left-color: initial;
                border: 1px solid lightgrey;
                border-radius: 2px;
            }
            @media @tablet {
                background-color: initial;
                border-left-color: initial;
                border: 1px solid grey;
                border-radius: 2px;
            }
        }

        &:hover {
            border-left-width: 10px;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            -o-transition: all 250ms ease;
            transition: all 250ms ease;
            @media @mobile {
                box-shadow: none;
                border-left-width: initial;
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
            }
            @media @tablet {
                box-shadow: none;
                border-left-width: initial;
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
            }
        }

        .value-wrapper {
            margin-left: 15px;
            font-size: 20px;
            @media @mobile {
                font-size: 18px;
            }
        }

        .time-value {
            margin-left: 15px;
            margin-top: 3px;
            font-size: 16px;
            @media @mobile {
                font-size: 18px;
            }
        }

        &.fmc {
            .time-value {
                text-align: left;
                border: 1px solid grey;
                width: 100%;
                padding: 0px 5px;
                margin-right: 15px;
                height: 32px;
                @media @mobile {
                    font-size: 16px;
                }
            }
        }
    }
}

.timer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Roboto', sans-serif;

    width: 100%;

    height: 70%;
    @media @tablet {
        height: 30%;
    }
    @media @mobile {
        height: 30%;
    }

    .timer-element {
        display: inline-block;
    }

    &.hidden {
        visibility: hidden;
        @media @tablet {
            visibility: initial;
            #seconds, #dot, #centiseconds {
                visibility: hidden;
            }
        }
        @media @mobile {
            visibility: initial;
            #seconds, #dot, #centiseconds {
                visibility: hidden;
            }
        }
    }

    &.fullscreen {
        @media @mobile {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 100; //below the navbar but above everything else
            background-color: white;
        }
        @media @tablet {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 100; //below the navbar but above everything else
            background-color: white;
        }
    }

    &.armed {
        color: #4dce49;
    }
}

#seconds, #dot, #centiseconds {
    font-size: 140px;
    @media @tablet {
        font-size: 60px;
    }
    @media @mobile {
        font-size: 60px;
    }
}

.context-menu-icon.context-menu-icon--fa5 i {
    padding-top: 3px;
}

.timer-scr-buttons {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 68px;
    padding: 10px;

    @media @tablet {
        border-top: 1px solid lightgray;
    }
    @media @mobile {
        border-top: 1px solid lightgray;
    }
}

#return-to-events {
    position: absolute;
    left: 10px;
    @media @desktop {
        .btn-return {
            position: fixed;
            bottom: 20px;
            left: 20px;
        }
    }
}

#show-scramble-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.timer-div {
    height: 80%;
    width: 100%;
}

.widget-area {
    &.blank {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.no-padding {
    padding: 0;
}

.comment-upload {
    background: none repeat scroll 0 0 @off-white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.comment-upload form {
    float: left;
    width: 100%;
}

.comment-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #000000;
    float: left;
    font-size: 14px;
    height: 160px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

.bootbox .modal-header {
    display: block;

    .modal-title {
        font-size: 20px;
        font-weight: normal;
    }
}

.bootbox-form {
    margin-bottom: 0px;
}

.scramble_preview_buffer {
    width: 100%;
    &.clickable {
        cursor: pointer;
    }
}

#fade-wrapper {
    display: none;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.95);

    &.shown {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}