@import "common.less";

@scramble-bg-color: lighten(@off-white, 40%);

//------------------------------------------------------------------------

.event-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        -webkit-filter: saturate(0%) brightness(1.40);
        filter: saturate(0%) brightness(1.40);

        width: 100px;
        height: 100px;
    }
}

.scramble-wrapper {
    font-family: 'Roboto', sans-serif;

    font-size: 24px;
    @media @mobile {
        font-size: 14px;
    }
    
    height: ~"calc(20% - 56px)";
    width: 100%;

    .scram {
        margin-top: 10px;
        margin-bottom: 10px;
        height: ~"calc(100% - 20px)";
        width: 100%;
        overflow-y: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    background-color: @scramble-bg-color;
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
}