@import "common.less";

//------------------------------------------------------------------------

.event-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        -webkit-filter: saturate(0%) brightness(1.40);
        filter: saturate(0%) brightness(1.40);

        width: 100px;
        height: 100px;
    }
}

.scramble-wrapper {
    font-family: 'Roboto', sans-serif;

    height: ~"calc(25% - 56px)";
    font-size: 24px;
    &.big {
        font-size: 44px;
    }
    @media @mobile {
        font-size: 14px;
        height: ~"calc(35% - 56px)";
        &.big {
            font-size: 30px;
        }
    }
    @media @tablet {
        font-size: 24px;
        height: ~"calc(35% - 56px)";
        &.big {
            font-size: 36px;
        }
    }

    background-color: #FCFCFC;
    width: 100%;

    .scram {
        margin-top: 10px;
        margin-bottom: 10px;
        height: ~"calc(100% - 21px)";
        width: 100%;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.times-wrapper {

    text-align: center;

    height: 70%;
    width: 100%;
    @media @tablet {
        height: 30%;
        width: 50%;
    }
    @media @mobile {
        height: 30%;
        width: 50%;
    }

    .single-time {
        margin: 10px 0 10px 0;
        min-height: 50px;
        @media @mobile {
            min-height: initial;
        }
        @media @tablet {
            min-height: initial;
        }

        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 2px;
        border-left: 5px solid rgb(218, 159, 159);

        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;

        background-color: white;
        cursor: pointer;

        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

        display: flex;
        align-items: center;

        font-family: 'Roboto', sans-serif;

        &.complete {
            border-left-color: rgb(163, 214, 163);
        }

        &.active {
            border-left-color: rgb(163, 214, 163);
            background-color: lighten(rgb(163, 214, 163), 15%);
        }

        &:hover {
            box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
            border-left-width: 8px;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            -o-transition: all 250ms ease;
            transition: all 250ms ease;
        }

        .value-wrapper {
            margin-left: 15px;
            font-size: 22px;
            @media @mobile {
                font-size: 18px;
            }
        }

        .time-value {
            margin-left: 15px;
            font-size: 20px;
            @media @mobile {
                font-size: 18px;
            }
        }

        &.fmc {
            .time-value {
                text-align: left;
                border: 1px dotted grey;
                width: 100%;
                padding: 0px 5px;
                margin-right: 15px;
                height: 32px;
                @media @mobile {
                    font-size: 16px;
                }
            }
        }
    }
}

.timer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Roboto', sans-serif;

    width: 100%;

    height: 70%;
    @media @tablet {
        height: 30%;
    }
    @media @mobile {
        height: 30%;
    }

    .timer-element {
        display: inline-block;
    }
}

#seconds, #dot, #centiseconds {
    font-size: 140px;
    @media @tablet {
        font-size: 60px;
    }
    @media @mobile {
        font-size: 60px;
    }
}

.context-menu-icon.context-menu-icon--fa5 i {
    padding-top: 3px;
}

#return-to-events {
    &.mobile-anchored {
        position: absolute;
        right: 25%;
        top: 50%;
        transform: translateY(-50%) translateX(50%);
    }
    &.desktop-anchored {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.timer-div {
    height: 80%;
    width: 100%;
}

.comment-div {
    width: 100%;
    height: 20%;
}

.full-width {
    width: 100%;
}