{% extends "common/base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container cubers-container" style="margin-top: 15px;">
    <h2>Welcome to cubers.io!</h2>
    <p class="font-weight-bold">Sign in with Reddit using the menu above for the best user experience.</p>
    <p>
        Here are some of the benefits you'll see if you log in:
        <ul>
            <li>Solves are automatically saved.</li>
            <li>Return later and pick up where you left off.</li>
            <li>Automatic Reddit comment generation and submission.</li>
            <li>[Coming soon] Personal profile, timer settings, and competition participation history.</li>
            <li>[Coming soon] Optional notification when new competitions are posted.</li>
        </ul>
    </p>
    <p><a class="bold" href="/?nologin">Click here</a> to continue without logging in.</p>
</div>
{% endblock %}