{% extends "common/base_no_navbar.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="center-container blue-background">
  <div class="logo-holder">
    <img class="main-logo" src="./static/images/cubersio_logo_light.png">
  </div>

  <div class="font-weight-bold text-white mb-5 mx-4">
    <p>Participate in WCA-style speedcubing competitions!</p>
  </div>

  <div class="login_button_holder">
    <a href="{{ url_for('reddit_login') }}" class="btn btn-lg btn-block btn-social btn-github">
      <span class="fab fa-reddit-alien"></span>
      Sign in with Reddit
    </a>
    <a href="{{ url_for('wca_login') }}" class="btn btn-lg btn-block btn-social btn-wca">
      <span><img class="wca-login-img" src="/static/images/wca_color.png" /></span>
      Sign in with WCA
    </a>
  </div>

  <div class="card-deck my-5 mx-4">

    <div class="card mb-4">
      <div class="card-header">
        <h4>Weekly Competitions</h4>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush mb-2">
          <li class="list-group-item">All WCA events.</li>
          <li class="list-group-item">Rotating selection of bonus non-WCA events.</li>
          <li class="list-group-item">Leaderboards and rankings.</li>
          <li class="list-group-item">Use the built-in customizable timer, <br> or use your own and enter results directly.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <h4>Ease of use</h4>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush mb-2">
          <li class="list-group-item">Solves are automatically saved.</li>
          <li class="list-group-item">Return later and pick up where you left off.</li>
          <li class="list-group-item">Reddit integration provides weekly notifications of<br>new competitions and statistics about your solves.</li>
          <li class="list-group-item">Track your performance with participation history and PBs.</li>
        </ul>
      </div>
    </div>

  </div>
</div>
{% endblock %}
