
{% block head %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% assets "main_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "bootstrap_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "main_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    
    </head>
{% endblock %}

<body>
{% include 'common/navbar_basic.html' %}
{% block content %}
{% endblock %}

</body>