{% if setting.value == 'true' %}
    {% set true_checked = 'checked' %}
    {% set true_active = 'active' %}
    {% set false_checked = '' %}
    {% set false_active = '' %}
{% else %}
    {% set true_checked = '' %}
    {% set true_active = '' %}
    {% set false_checked = 'checked' %}
    {% set false_active = 'active' %}
{% endif %}
<div class="form-group">
    <div class="row">
        <div class="col-4">
            <label class="form-check-label" for="{{ setting.code }}">{{ setting.title }}</label>
        </div>
        <div class="col-8">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-setting-toggle {{true_active}}">
                    <input type="radio" name="{{ setting.code }}" value="true" autocomplete="off" {{true_checked}}> True
                </label>
                <label class="btn btn-setting-toggle {{false_active}}">
                    <input type="radio" name="{{ setting.code }}" value="false" autocomplete="off" {{false_checked}}> False
                </label>
            </div>
        </div>
    </div>
</div>