{% if setting.value == 'true' %}
    {% set true_checked = 'checked' %}
    {% set true_active = 'active' %}
    {% set false_checked = '' %}
    {% set false_active = '' %}
{% else %}
    {% set true_checked = '' %}
    {% set true_active = '' %}
    {% set false_checked = 'checked' %}
    {% set false_active = 'active' %}
{% endif %}
{% if setting.code in disabled_settings %}
    {% set group_disabled = 'disabled-group' %}
    {% set sub_disabled   = 'disabled' %}
{% endif %}
<div class="form-group {{group_disabled}}" data-setting_code="{{ setting.code }}" data-affects="{{ setting.affects }}">
    <div class="row">
        <div class="col-8 col-md-4">
            <label class="form-check-label" for="{{ setting.code }}">{{ setting.title }}</label>
        </div>
        <div class="col-4 col-md-8">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-setting-toggle {{true_active}} {{sub_disabled}}" data-disable_me="true">
                    <input type="radio" name="{{ setting.code }}" value="true" autocomplete="off" {{true_checked}}> True
                </label>
                <label class="btn btn-setting-toggle {{false_active}} {{sub_disabled}}" data-disable_me="true">
                    <input type="radio" name="{{ setting.code }}" value="false" autocomplete="off" {{false_checked}}> False
                </label>
            </div>
        </div>
    </div>
</div>