{% for event in events %}
{% if event.id in hidden_event_ids %}
    {% set true_checked = 'checked' %}
    {% set true_active = 'active' %}
    {% set false_checked = '' %}
    {% set false_active = '' %}
{% else %}
    {% set true_checked = '' %}
    {% set true_active = '' %}
    {% set false_checked = 'checked' %}
    {% set false_active = 'active' %}
{% endif %}
<div class="form-group">
    <div class="row">
        <div class="col-8 col-md-4">
            <label class="form-check-label" for="hidden_event_{{ event.id }}">{{ event.name }}</label>
        </div>
        <div class="col-4 col-md-8">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-setting-toggle {{true_active}}">
                    <input type="radio" name="hidden_event_{{ event.id }}" value="true" autocomplete="off" {{true_checked}}> Hide
                </label>
                <label class="btn btn-setting-toggle {{false_active}}">
                    <input type="radio" name="hidden_event_{{ event.id }}" value="false" autocomplete="off" {{false_checked}}> Show
                </label>
            </div>
        </div>
    </div>
</div>
{% endfor %}