{% extends "common/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid cubers-container white-container profile-container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">{{ user.username }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <table class="table table-sm table-striped table-cubersio text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">WCA ID</th>
                        <th scope="col">Competitions</th>
                        <th scope="col">Completed Solves</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.wca_id if user.wca_id else "" }}</td>
                        <td>{{ comp_count }}</td>
                        <td>{{ solve_count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if rankings %}
    <div class="row pt-4">
        <div class="col-12 col-md-6 offset-md-3">
            <h4 class="text-center">Personal Records</h4>
            <h6 class="text-center">as of {{previous_comp}}</h6>
            <table class="table table-sm table-striped table-cubersio">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Site rank</th>
                        <th scope="col">Single</th>
                        <th scope="col">Average</th>
                        <th scope="col">Site rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_id, rank_info in rankings.items() %}
                    {% set single_rank = rank_info[1] %}
                    {% set average_rank = rank_info[3] %}
                    {% if event_id_name_map[event_id] == "FMC" %}
                        {% set single_val = rank_info[0] | format_fmc_result %}
                        {% set average_val = rank_info[2] | format_fmc_result %}
                    {% else %}
                        {% set single_val = rank_info[0] | friendly_time %}
                        {% set average_val = rank_info[2] | friendly_time %}
                    {% endif %}
                    <tr>
                        <td>
                            <a href="{{ url_for('event_results', event_name=event_id_name_map[event_id]) }}">
                                <img class="tab-event-image" src="/static/images/cube-{{event_id}}.png">
                                {{ event_id_name_map[event_id] }}
                            </a>
                        </td>
                        <td>{{ single_rank }}</td>
                        <td>{{ single_val }}</td>
                        <td>{{ average_val }}</td>
                        <td>{{ average_rank }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if history.items() %}
    <div class="row pt-4">
        <div class="col-12 col-md-10 offset-md-1">
            <h4 class="text-center">Competition History</h4>
            <ul class="nav nav-tabs justify-content-center pt-1" role="tablist">
                {% for event_item, _ in history.items() %}
                {% if loop.index0 == 0 %}
                <li class="active nav-item">
                    <a href="#tab{{event_item.name}}" class="nav-link active show" role="tab" data-toggle="tab">
                        <img class="tab-event-image" src="/static/images/cube-{{event_item.id}}.png">
                    </a>
                {% else %}
                <li class="nav-item">
                    <a href="#tab{{event_item.name}}" class="nav-link" role="tab" data-toggle="tab">
                        <img class="tab-event-image" src="/static/images/cube-{{event_item.id}}.png">
                    </a>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content justify-content-center pt-3">
                {% for event_item, comps in history.items() %}
                {% if loop.index0 == 0 %}
                <div class="tab-pane active" id="tab{{event_item.name}}">
                {% else %}
                <div class="tab-pane" id="tab{{event_item.name}}">
                {% endif %}
                    <table class="table table-sm table-striped table-cubersio">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Competition</th>
                                <th scope="col">Single</th>
                                <th scope="col">Average</th>
                                <th scope="col" colspan="5" class="d-none d-md-table-cell">Solves</th>
                            </tr>
                            <tr class="event_name_row">
                                <th scope="col" colspan="8">
                                    <img class="event-image" src="/static/images/cube-{{event_item.id}}.png">
                                    {{ event_item.name }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comp, results in comps.items() %}
                                {% if event_item.name == "FMC" %}
                                    {% set single_val = results.single | format_fmc_result %}
                                    {% set average_val = results.average | format_fmc_result %}
                                {% else %}
                                    {% set single_val = results.single | friendly_time %}
                                    {% set average_val = results.average | friendly_time %}
                                {% endif %}
                                {% if results.was_pb_single %}
                                    {% set single_class = "pb-indicator" %}
                                {% endif %}
                                {% if results.was_pb_average %}
                                    {% set average_class = "pb-indicator" %}
                                {% endif %}
                                <tr>
                                    <td>{{ comp.title }}</td>
                                    <td class="{{single_class}}">{{ single_val }}</td>
                                    <td class="{{average_class}}">{{ average_val }}</td>
                                    {% for solve_time in results.solves_helper %}
                                    <td class="d-none d-md-table-cell">{{ solve_time }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}