{% extends "common/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% set sor_explanation = "The sum of site rankings across all events. Lower is better.\nEvents not participated in give a (number of participants + 1) rank." %}

{% set show_medals = gold_count + silver_count + bronze_count > 0 %}

{% block content %}
<div class="container-fluid cubers-container white-container profile-container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">{{ user.username }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <table class="table table-sm table-striped table-cubersio text-center">
                <thead class="thead-dark">
                    <tr>
                        <th rowspan="2">Competitions</th>
                        <th rowspan="2">Completed Solves</th>
                        <th colspan="3">
                            Sum of Ranks (Single, Average)
                            <span style="font-weight: normal; padding-left: 5px;" class="fas fa-question-circle spacer" data-toggle="tooltip" data-placement="bottom" title="{{ sor_explanation }}"></span>
                        </th>
                        {% if show_medals %}
                        <th class="d-none d-md-table-cell" colspan="3">Medal Collection</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Combined</th>
                        <th>WCA Events</th>
                        <th>Non-WCA Events</th>
                        {% if show_medals %}
                        <th class="d-none d-md-table-cell"><span class="fas fa-medal gold"></span></th>
                        <th class="d-none d-md-table-cell"><span class="fas fa-medal silver"></span></th>
                        <th class="d-none d-md-table-cell"><span class="fas fa-medal bronze"></span></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ comp_count }}</td>
                        <td>{{ solve_count }}</td>

                        {% if sor_all %}
                            <td>{{sor_all.single}}, {{sor_all.average}}</td>
                            <td>{{sor_wca.single}}, {{sor_wca.average}}</td>
                            <td>{{sor_non_wca.single}}, {{sor_non_wca.average}}</td>
                        {% else %}
                            <td colspan="3">Not yet calculated</td>
                        {% endif %}

                        {% if show_medals %}
                        <td class="d-none d-md-table-cell">{{ gold_count }}</td>
                        <td class="d-none d-md-table-cell">{{ silver_count }}</td>
                        <td class="d-none d-md-table-cell">{{ bronze_count }}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if rankings %}
    <div class="row pt-4">
        <div class="col-12 col-md-6 offset-md-3">
            <h4 class="text-center">Personal Records</h4>
            <h6 class="text-center">as of {{rankings_ts}}</h6>
            <table class="table table-sm table-striped table-cubersio">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Site rank</th>
                        <th scope="col">Single</th>
                        <th scope="col">Average</th>
                        <th scope="col">Site rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_id, rank_info in rankings.items() if rank_info[0] %}
                    {% set single_rank = rank_info[1] %}
                    {% set average_rank = rank_info[3] %}
                    {% if event_id_name_map[event_id] == "FMC" %}
                        {% set single_val = rank_info[0] | format_fmc_result %}
                        {% set average_val = rank_info[2] | format_fmc_result %}
                    {% else %}
                        {% set single_val = rank_info[0] | friendly_time %}
                        {% set average_val = rank_info[2] | friendly_time %}
                    {% endif %}
                    <tr>
                        <td>
                            <a href="{{ url_for('event_results', event_name=event_id_name_map[event_id]|replace('/','%2F')) }}">
                                <img class="tab-event-image" src="/static/images/cube-{{event_id}}.png">
                                {{ event_id_name_map[event_id] }}
                            </a>
                        </td>
                        <td>{{ single_rank }}</td>
                        <td>{{ single_val }}</td>
                        <td>{{ average_val }}</td>
                        <td>{{ average_rank }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if history.items() %}
    <div class="row pt-4">
        <div class="col-12 col-md-10 offset-md-1">
            <h4 class="text-center">Competition History</h4>
            <ul class="nav nav-tabs justify-content-center pt-1" role="tablist">
                {% for event_item, _ in history.items() %}
                {% if loop.index0 == 0 %}
                <li class="active nav-item">
                    <a href="#tab{{event_item.name | slugify}}" class="nav-link active show" role="tab" data-toggle="tab">
                        <img class="tab-event-image" src="/static/images/cube-{{event_item.id}}.png">
                    </a>
                {% else %}
                <li class="nav-item">
                    <a href="#tab{{event_item.name | slugify}}" class="nav-link" role="tab" data-toggle="tab">
                        <img class="tab-event-image" src="/static/images/cube-{{event_item.id}}.png">
                    </a>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content justify-content-center pt-3">
                {% for event_item, comps in history.items() %}
                {% if loop.index0 == 0 %}
                <div class="tab-pane active" id="tab{{event_item.name | slugify}}">
                {% else %}
                <div class="tab-pane" id="tab{{event_item.name | slugify}}">
                {% endif %}
                    <table class="table table-sm table-striped table-cubersio">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="d-none d-md-table-cell"></th>
                                {% if show_medals %}
                                <th scope="col" class="d-none d-md-table-cell"></th>
                                {% endif %}
                                <th scope="col">Competition</th>
                                <th scope="col">Single</th>
                                <th scope="col">Average</th>
                                <th scope="col" colspan="5" class="d-none d-md-table-cell">Solves</th>
                                <th scope="col"></th>
                            </tr>
                            <tr class="event_name_row">
                                {% if show_medals %}
                                <th scope="col" colspan="11">
                                {% else %}
                                <th scope="col" colspan="10">
                                {% endif %}
                                    <img class="event-image" src="/static/images/cube-{{event_item.id}}.png">
                                    {{ event_item.name }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comp, results in comps.items() %}

                                {% if results.is_blacklisted and is_admin_viewing %}
                                    {% set blacklist_class = 'blacklisted-result' %}
                                {% else %}
                                    {% set blacklist_class = '' %}
                                {% endif %}

                                {% if show_medals %}
                                    {% set medal_class = 'medal_none' %}
                                    {% if results.was_gold_medal %}
                                        {% set medal_class = 'gold' %}
                                    {% endif %}
                                    {% if results.was_silver_medal %}
                                        {% set medal_class = 'silver' %}
                                    {% endif %}
                                    {% if results.was_bronze_medal %}
                                        {% set medal_class = 'bronze' %}
                                    {% endif %}
                                {% endif %}

                                {% if event_item.name == "FMC" %}
                                    {% set single_val = results.single | format_fmc_result %}
                                    {% set average_val = results.average | format_fmc_result %}
                                {% else %}
                                    {% set single_val = results.single | friendly_time %}
                                    {% set average_val = results.average | friendly_time %}
                                {% endif %}
                                {% if results.was_pb_single %}
                                    {% set single_class = "pb-indicator" %}
                                {% endif %}
                                {% if results.was_pb_average %}
                                    {% set average_class = "pb-indicator" %}
                                {% endif %}
                                <tr class="{{blacklist_class}}">
                                    {% if show_medals %}
                                    <td scope="col" class="d-none d-md-table-cell text-center">
                                        <span class="fas fa-medal {{medal_class}} spacer"></span>
                                    </td>
                                    {% endif %}
                                    <td scope="col" class="d-none d-md-table-cell text-center">
                                        {% if results.comment|trim() %}
                                        {% set the_comment = results.comment if results.comment|length < 350 else results.comment[:350] + "..." %}
                                        <span class="far fa-comment spacer" data-toggle="tooltip" data-placement="bottom" title="{{the_comment}}"></span>
                                        {% endif %}
                                    </td>
                                    <td><a href="/leaderboards/{{ comp.id }}">{{ comp.title }}</a></td>
                                    <td class="{{single_class}}">{{ single_val }}</td>
                                    <td class="{{average_class}}">{{ average_val }}</td>
                                    {% for solve_time in results.solves_helper %}
                                    <td class="d-none d-md-table-cell">{{ solve_time }}</td>
                                    {% endfor %}

                                    {% if results.is_blacklisted and is_admin_viewing %}
                                        {% set the_comment = results.blacklist_note|trim() %}
                                        <td scope="col" class="d-none d-md-table-cell">
                                            <span class="far fa-question-circle spacer" data-toggle="tooltip" data-placement="bottom" title="{{the_comment}}"></span>
                                        </td>
                                    {% else %}
                                        <td scope="col" class="d-none d-md-table-cell"></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block additional_script %}
<script>
    $(function () {
        if (!Boolean(new MobileDetect(window.navigator.userAgent).mobile())) {
            $('[data-toggle="tooltip"]').tooltip();
        }
    })
</script>
{% endblock %}