{% extends "common/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid cubers-container white-container settings-container">
    <form method="POST">
    {% for section_header, section_settings in settings_sections.items() %}
        {% include 'user/settings_section.html' %}
    {% endfor %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}