@import (reference) "common.less";

.timer-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fit-text-wrapper {
    display: flex;
    height: 28%;
    margin: 25px;
    border: 3px solid white;
    border-radius: 3px;
    padding: 15px;
    color: white;

    .fit-text-inner {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.timer-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
    align-items: center;

    .timer-time{
        font-size: 100pt;
        color: white;

        &.warning {
            color: #ffff36;
        }
        &.warning-critical {
            color: #ff7f36;
        }
        &.penalty {
            color: #ff3636;
        }
        &.dnf {
            color: #363636;
        }
        &.ready {
            color: #36ff36;
            transition: 0.1s;
        }
    }

    .timer-buttons {
        .timer-modifier-button {
            margin: 20px;
            width: 75px;
            height: 50px;
            border-radius: 4px;
            font-weight: 600;
            background: transparent;
            color: white;
            border: 2px solid white;

            &.enabled { 
                &:hover {
                    background: white;
                    color: #363636;
                }
                
                &:active {
                    background: #36363644;
                    color: white;
                }
            }

            &.active {
                background: white;
                color: #363636;
            }
            
            &.disabled {
                background: transparent;
                color: #fefefe88;
                border: 2px solid #fefefe88;
            }
            
            transition: 0.25s;
        }
    }
}