{% extends "common/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid cubers-container white-container records-container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">
                <img class="event-image" src="/static/images/cube-{{event_id}}.png">
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <ul class="nav nav-tabs justify-content-center pt-1" role="tablist">
                <li class="active nav-item">
                    <a href="#tab_single" class="nav-link active show" role="tab" data-toggle="tab">Single</a>
                </li>
                {% if averages %}
                <li class="nav-item">
                    <a href="#tab_average" class="nav-link" role="tab" data-toggle="tab">Average</a>
                </li>
                {% endif %}
                <li class="nav-item right-tab" class="d-none d-md-table-cell">
                    <a class="nav-link right-tab-link" data-long="Download CSV" data-short="Download" href="{{ url_for('event_results_export', event_name=event_name|replace('/','%2F')) }}"></a>
                </li>
            </ul>
            
            <div class="tab-content justify-content-center pt-3">
                <div class="tab-pane active" id="tab_single">
                    <table class="table table-sm table-striped table-cubersio">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Rank</th>
                                {% if current_user.is_authenticated %}
                                <th scope="col">
                                    User
                                    <i class="fas fa-arrow-down" style="padding-left: 5px; color: white; cursor: pointer;" id="scrollSingle"></i>
                                </th>
                                {% else %}
                                <th scope="col">User</th>
                                {% endif %}
                                <th scope="col" class="d-none d-md-table-cell"></th>
                                <th scope="col">Single</th>
                                <th class="d-none d-md-table-cell" scope="col">Competition</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in singles %}

                            {% if current_user.is_authenticated and current_user.username == record.username %}
                                {% set its_me = 'hey-its-me' %}
                                {% set me_id = 'thisIsMeSingle' %}
                            {% else %}
                                {% set its_me = '' %}
                                {% set me_id = '' %}
                            {% endif %}

                            <tr class="{{ its_me }}" id = "{{ me_id }}">
                                <td>{{ record.rank }}</td>
                                <td>
                                    {% if show_admin %}
                                        {% if record.user_is_verified %}
                                            {% set verification_class = 'verified' %}
                                        {% else %}
                                            {% set verification_class = 'unverified' %}
                                        {% endif %}
                                        <span class="fas fa-user-check {{verification_class}} mr-1"></span>
                                    {% endif %}
                                    <a href="{{ url_for('profile', username=record.username) }}">/u/{{ record.username }}</a>
                                </td>

                                <td scope="col" class="d-none d-md-table-cell text-center">
                                    {% if record.comment|trim() %}
                                    {% set the_comment = record.comment if record.comment|length < 350 else record.comment[:350] + "..." %}
                                    <span class="far fa-comment spacer" data-toggle="tooltip" data-placement="bottom" title="{{the_comment}}"></span>
                                    {% endif %}
                                </td>
    
                                {% if event_name == "FMC" %}
                                <td>{{ record.personal_best | format_fmc_result }}</td>
                                {% else %}
                                <td>{{ record.personal_best | friendly_time }}</td>
                                {% endif %}
    
                                <td class="d-none d-md-table-cell">
                                    <a href="/leaderboards/{{ record.comp_id }}">{{ record.comp_title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab_average">
                    <table class="table table-sm table-striped table-cubersio">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Rank</th>
                                {% if current_user.is_authenticated %}
                                <th scope="col">
                                    User
                                    <i class="fas fa-arrow-down" style="padding-left: 5px; color: white; cursor: pointer;" id="scrollAverage"></i>
                                </th>
                                {% else %}
                                <th scope="col">User</th>
                                {% endif %}
                                <th scope="col" class="d-none d-md-table-cell"></th>
                                <th scope="col">Average</th>
                                <th class="d-none d-md-table-cell" scope="col">Competition</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in averages %}

                            {% if current_user.is_authenticated and current_user.username == record.username %}
                                {% set its_me = 'hey-its-me' %}
                                {% set me_id = 'thisIsMeAverage' %}
                            {% else %}
                                {% set its_me = '' %}
                                {% set me_id = '' %}
                            {% endif %}

                            <tr class="{{ its_me }}" id = "{{ me_id }}">
                                <td>{{ record.rank }}</td>
                                <td>
                                    {% if show_admin %}
                                        {% if record.user_is_verified %}
                                            {% set verification_class = 'verified' %}
                                        {% else %}
                                            {% set verification_class = 'unverified' %}
                                        {% endif %}
                                        <span class="fas fa-user-check {{verification_class}} mr-1"></span>
                                    {% endif %}
                                    <a href="{{ url_for('profile', username=record.username) }}">/u/{{ record.username }}</a>
                                </td>

                                <td scope="col" class="d-none d-md-table-cell text-center">
                                    {% if record.comment|trim() %}
                                    {% set the_comment = record.comment if record.comment|length < 350 else record.comment[:350] + "..." %}
                                    <span class="far fa-comment spacer" data-toggle="tooltip" data-placement="bottom" title="{{the_comment}}"></span>
                                    {% endif %}
                                </td>
    
                                {% if event_name == "FMC" %}
                                <td>{{ record.personal_best | format_fmc_result }}</td>
                                {% else %}
                                <td>{{ record.personal_best | friendly_time }}</td>
                                {% endif %}
    
                                <td class="d-none d-md-table-cell">
                                    <a href="/leaderboards/{{ record.comp_id }}">{{ record.comp_title }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_script %}
<script>
    $(function () {

        $('#scrollSingle').click(function(){
            $('html, body').animate({
                scrollTop: $("#thisIsMeSingle").offset().top - 80
            }, 1000);
            return false;
        });

        $('#scrollAverage').click(function(){
            $('html, body').animate({
                scrollTop: $("#thisIsMeAverage").offset().top - 80
            }, 1000);
            return false;
        });

        if (!Boolean(new MobileDetect(window.navigator.userAgent).mobile())) {
            $('[data-toggle="tooltip"]').tooltip();
        }

    })
</script>
{% endblock %}