{% if competition_event.id in complete_events %}
<div class="event-card drop-shadow complete" id="event-{{competition_event.id}}"
        data-comp_event_id="{{competition_event.id}}"
        data-event_name="{{competition_event.Event.name}}"
        data-event_id="{{competition_event.Event.id}}">
{% else %}
{% if competition_event.id in incomplete_events %}
<div class="event-card drop-shadow incomplete" id="event-{{competition_event.id}}"
        data-comp_event_id="{{competition_event.id}}"
        data-event_name="{{competition_event.Event.name}}"
        data-event_id="{{competition_event.Event.id}}">
{% else %}
<div class="event-card drop-shadow" id="event-{{competition_event.id}}"
        data-comp_event_id="{{competition_event.id}}"
        data-event_name="{{competition_event.Event.name}}"
        data-event_id="{{competition_event.Event.id}}">
{% endif %}
{% endif %}
    <div class="event-image-container">
        <img class="event-image" src="./static/images/cube-{{ competition_event.Event.id }}.png">
        <div class="overlay complete-overlay">
            <a href="#" class="icon">
                <i class="fas fa-check"></i>
            </a>
        </div>
        <div class="overlay incomplete-overlay">
            <a href="#" class="icon">
                <i class="far fa-clock"></i>
            </a>
        </div>
    </div>
    <div class="event-name">
        <hr>
        {% if competition_event.Event.name == "3x3 Mirror Blocks/Bump" %}
            {% set name = "Mirror Blocks" %}
        {% else %}
            {% set name = competition_event.Event.name %}
        {% endif %}
        <div class="row">
            <div class="col-12"><span class="event-title">{{ name }}</div>
        </div>
    </div>
    {% if competition_event.id in complete_events.keys() %}
        {% set int_id = competition_event.id|int %}
        <span class="event-summary">{{ complete_events[int_id].result }}</span>
    {% else %}
        <span class="event-summary"></span>
    {% endif %}
    {% if competition_event.id in bonus_events_ids %}
    <div class="bonus-event-indicator">
        <i class="fas fa-gift"></i>
    </div>
    {% endif %}
</div>
