<div class="event-card card" id="event-{{competition_event.id}}"
    data-comp_event_id="{{competition_event.id}}"
    data-event_name="{{competition_event.Event.name}}"
    data-event_id="{{competition_event.Event.id}}">

    <div class="event-image-container">
        <img class="event-image" src="./static/images/cube-{{ competition_event.Event.id }}-selected.png">
        <div class="overlay complete-overlay">
            <a href="#" class="icon">
                <i class="fas fa-check"></i>
            </a>
        </div>
        <div class="overlay incomplete-overlay">
            <a href="#" class="icon">
                <i class="far fa-clock"></i>
            </a>
        </div>
    </div>
    <div class="event-name">
        <hr>
        <h5 class="event-title">{{ competition_event.Event.name }}</h5>
    </div>
</div>
