{% if setting.code in disabled_settings %}
    {% set group_disabled = 'disabled-group' %}
    {% set sub_disabled   = 'disabled' %}
{% endif %}
{% if is_mobile %}
    {% set col_size = 'col-3' %}
{% else %}
    {% set col_size = 'col-2' %}
{% endif %}
<div class="col-2 text-center">
    <div class="form-group {{group_disabled}}" data-setting_code="{{ setting.code }}" data-affects="{{ setting.affects }}">
        <div class="row flex-center-all">
            <label class="form-label" for="{{ setting.code }}">{{ setting.title }}</label>
        </div>
        <div class="row flex-center-all">
            <div>
                <div class="input-group" data-disable_me_as_group="true">
                    <input type="text" name="{{ setting.code }}" value="{{ setting.value }}" class="form-control colorpicker"/>
                </div>
            </div>
        </div>
    </div>
</div>