{% extends "user/settings/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<canvas id="shapes"></canvas>
<div class="cubers-container">
    <div class="container">
        <div class="row mb-3 mt-3">
            <div class="col-10 offset-1 text-center settings-header">
                <h3>Custom Color Settings for {{ header_msg[0] }}</h3>
                {% if not is_mobile %}
                <span>{{ header_msg[1] }}</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for setting in settings %}
                    {% if setting.type == 'boolean' %}
                    <div class="form-group {{group_disabled}}" data-setting_code="{{ setting.code }}" data-affects="{{ setting.affects }}" data-opposite_affects="{{ setting.opposite_affects }}">
                        {% if setting.value == 'true' %}
                            {% set true_checked = 'checked' %}
                            {% set true_active = 'active' %}
                            {% set false_checked = '' %}
                            {% set false_active = '' %}
                        {% else %}
                            {% set true_checked = '' %}
                            {% set true_active = '' %}
                            {% set false_checked = 'checked' %}
                            {% set false_active = 'active' %}
                        {% endif %}
                        {% if setting.code in disabled_settings %}
                            {% set group_disabled = 'disabled-group' %}
                            {% set sub_disabled   = 'disabled' %}
                        {% endif %}
                        <div class="row flex-center-all">
                            <div>
                                <div class="col-12">
                                    <label class="form-check-label" for="{{ setting.code }}">{{ setting.title }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 flex-center-all">
                            <div>
                                <div class="col-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-setting-toggle {{true_active}} {{sub_disabled}}" data-disable_me="true">
                                            <input type="radio" name="{{ setting.code }}" value="true" autocomplete="off" {{true_checked}}> Yes
                                        </label>
                                        <label class="btn btn-setting-toggle {{false_active}} {{sub_disabled}}" data-disable_me="true">
                                            <input type="radio" name="{{ setting.code }}" value="false" autocomplete="off" {{false_checked}}> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row flex-center-all mb-3 mt-3">
            {% if is_mobile %}
            <div class="col-8 scramble_preview no_pointer">
                <div style="background-color: white; border-radius: 10px; padding: 20px;">
                    <canvas id="normal_scramble_image"></canvas>
                </div>
            </div>
            {% else %}
            <div class="col-5 scramble_preview no_pointer">
                <div style="background-color: white; border-radius: 10px; padding: 20px;">
                    <canvas id="normal_scramble_image"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row flex-center-all">
            {% for setting in settings %}
                {% if setting.type == 'hex_color' %}{% include 'user/settings/color_setting.html' %}{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block additional_script %}
{{ super() }}
<script>
    $(function () {
        $(".colorpicker").spectrum({
            preferredFormat: "hex",
            allowEmpty: false,
            showInput: true,
            showInitial: true,
            showPalette: true,
            {% if disabled_settings %}
            disabled: true,
            {% endif %}
            palette: {{ default_colors | tojson }},
            showButtons: false
        });

        {% if disabled_settings %}
        window.app.isCustomColorDisabled = true;
        {% else %}
        window.app.isCustomColorDisabled = false;
        {% endif %}

        window.app.settings_data = {};
        window.app.userSettingsManager = new window.app.UserSettingsManager();
        window.app.isMobile = {{ is_mobile | tojson }};

        window.app.scramble = "";
        window.app.eventName = {{ faux_event_name | tojson }};

        var imageGenerator = new window.app.ScrambleImageGenerator();

        var newColors = null;

        var setCurrentColors = function(color, setting) {
            if (window.app.eventName == "3x3") {
                // [D, L, B, U, R, F];
                newColors = [
                    $(".input-group input[name='custom_cube_color_D']").val(),
                    $(".input-group input[name='custom_cube_color_L']").val(),
                    $(".input-group input[name='custom_cube_color_B']").val(),
                    $(".input-group input[name='custom_cube_color_U']").val(),
                    $(".input-group input[name='custom_cube_color_R']").val(),
                    $(".input-group input[name='custom_cube_color_F']").val(),
                ];
                if (color != null) {
                    var settingIndexMap = {
                        'custom_cube_color_D': 0,
                        'custom_cube_color_L': 1,
                        'custom_cube_color_B': 2,
                        'custom_cube_color_U': 3,
                        'custom_cube_color_R': 4,
                        'custom_cube_color_F': 5,
                    }
                    newColors[settingIndexMap[setting]] = color;
                }
            }
            if (window.app.eventName == "Megaminx") {
                newColors = [
                    $(".input-group input[name='custom_mega_color_1']").val(),
                    $(".input-group input[name='custom_mega_color_2']").val(),
                    $(".input-group input[name='custom_mega_color_3']").val(),
                    $(".input-group input[name='custom_mega_color_4']").val(),
                    $(".input-group input[name='custom_mega_color_5']").val(),
                    $(".input-group input[name='custom_mega_color_6']").val(),
                    $(".input-group input[name='custom_mega_color_7']").val(),
                    $(".input-group input[name='custom_mega_color_8']").val(),
                    $(".input-group input[name='custom_mega_color_9']").val(),
                    $(".input-group input[name='custom_mega_color_10']").val(),
                    $(".input-group input[name='custom_mega_color_11']").val(),
                    $(".input-group input[name='custom_mega_color_12']").val(),
                ];
                if (color != null) {
                    var settingIndexMap = {
                        'custom_mega_color_1': 0,
                        'custom_mega_color_2': 1,
                        'custom_mega_color_3': 2,
                        'custom_mega_color_4': 3,
                        'custom_mega_color_5': 4,
                        'custom_mega_color_6': 5,
                        'custom_mega_color_7': 6,
                        'custom_mega_color_8': 7,
                        'custom_mega_color_9': 8,
                        'custom_mega_color_10': 9,
                        'custom_mega_color_11': 10,
                        'custom_mega_color_12': 11,
                    }
                    newColors[settingIndexMap[setting]] = color;
                }
            }
            if (window.app.eventName == "Pyraminx") {
                // Order is F, L, R, D
                newColors = [
                    $(".input-group input[name='custom_pyra_color_F']").val(),
                    $(".input-group input[name='custom_pyra_color_L']").val(),
                    $(".input-group input[name='custom_pyra_color_R']").val(),
                    $(".input-group input[name='custom_pyra_color_D']").val(),
                ];
                if (color != null) {
                    var settingIndexMap = {
                        'custom_pyra_color_F': 0,
                        'custom_pyra_color_L': 1,
                        'custom_pyra_color_R': 2,
                        'custom_pyra_color_D': 3,
                    }
                    newColors[settingIndexMap[setting]] = color;
                }
            }
            if (window.app.eventName == "FTO") {
                // Order is  U  L  F  R  B  BR  D BL
                newColors = [
                    $(".input-group input[name='custom_fto_color_U']").val(),
                    $(".input-group input[name='custom_fto_color_L']").val(),
                    $(".input-group input[name='custom_fto_color_F']").val(),
                    $(".input-group input[name='custom_fto_color_R']").val(),
                    $(".input-group input[name='custom_fto_color_B']").val(),
                    $(".input-group input[name='custom_fto_color_BR']").val(),
                    $(".input-group input[name='custom_fto_color_D']").val(),
                    $(".input-group input[name='custom_fto_color_BL']").val(),
                ];
                if (color != null) {
                    var settingIndexMap = {
                        'custom_fto_color_U': 0,
                        'custom_fto_color_L': 1,
                        'custom_fto_color_F': 2,
                        'custom_fto_color_R': 3,
                        'custom_fto_color_B': 4,
                        'custom_fto_color_BR': 5,
                        'custom_fto_color_D': 6,
                        'custom_fto_color_BL': 7,
                    }
                    newColors[settingIndexMap[setting]] = color;
                }
            }
            if (window.app.eventName == "Square-1") {
                newColors = {
                    "D": $(".input-group input[name='custom_squan_color_D']").val(),
                    "L": $(".input-group input[name='custom_squan_color_L']").val(),
                    "B": $(".input-group input[name='custom_squan_color_B']").val(),
                    "U": $(".input-group input[name='custom_squan_color_U']").val(),
                    "R": $(".input-group input[name='custom_squan_color_R']").val(),
                    "F": $(".input-group input[name='custom_squan_color_F']").val()
                };
                if (color != null) {
                    var settingIndexMap = {
                        'custom_squan_color_D': "D",
                        'custom_squan_color_L': "L",
                        'custom_squan_color_B': "B",
                        'custom_squan_color_U': "U",
                        'custom_squan_color_R': "R",
                        'custom_squan_color_F': "F"
                    }
                    newColors[settingIndexMap[setting]] = color;
                }
            }
        };

        var injectColors = function() {
            if (window.app.eventName == "3x3") {
                imageGenerator.injectCubeColors(newColors);
            }
            if (window.app.eventName == "Megaminx") {
                imageGenerator.injectMegaColors(newColors);
            }
            if (window.app.eventName == "Pyraminx") {
                imageGenerator.injectPyraColors(newColors);
            }
            if (window.app.eventName == "FTO") {
                imageGenerator.injectFtoColors(newColors);
            }
            if (window.app.eventName == "Square-1") {
                imageGenerator.injectSq1Colors(newColors);
            }
        }

        var updateSavedColor = function(e, color) {
            var color_setting = {};
            color_setting[this.name] = color.toHexString();

            $.ajax({
                url: '/settings/save',
                type: "POST",
                data: JSON.stringify(color_setting),
                contentType: "application/json",
                error: function(xhr) {
                    bootbox.alert("Something unexpected happened: " + xhr.responseText);
                }
            });
        };

        var updateScrambleImage = function(e, color) {

            if (window.app.isCustomColorDisabled) {
                return;
            }
            
            var update_color = null;
            var color_setting = null;

            if (color != null) {
                update_color = color.toHexString();
                color_setting = this.name;
            }

            setCurrentColors(update_color, color_setting);
            injectColors();
            imageGenerator.prepareNewImage();
        }

        // TODO comment this check disabled/enabled + timeouts below, it's not intuitive why

        var checkEnabledTimeout = null;

        var checkDisabled = function() {
            if (window.app.isCustomColorDisabled) {
                imageGenerator.resetDefaultColors();
                imageGenerator.prepareNewImage();
                if (checkEnabledTimeout == null) {
                    setTimeout(checkEnabled, 125);
                }
            }
            setTimeout(checkDisabled, 125);
        }

        var checkEnabled = function() {
            if (!window.app.isCustomColorDisabled) {
                updateScrambleImage(null, null);
                clearTimeout(checkEnabledTimeout);
                checkEnabledTimeout = null;
            } else {
                checkEnabledTimeout = setTimeout(checkEnabled, 125);
            }
        }

        checkDisabled();
        updateScrambleImage(null, null);

        $(".colorpicker").on('move.spectrum', updateScrambleImage);
        $(".colorpicker").on('change', updateSavedColor);
    })
</script>
{% endblock %}