{% raw %}
<script id='timer-template' type='text/x-handlebars-template'>
    <div class="ultra-hidden timerEventDataContainer" data-compEventId="{{ comp_event_id }}" data-totalSolves="{{ total_solves }}"></div>
    <div class="row">

        <div class="col-xl-12 col-md-12 col-sm-12 scramble-wrapper"><div class="scram"></div></div>
        <div class="col-lg-9 col-md-12 col-sm-12 timer-wrapper">
            <div class="row full-width">
                <div class="col-12">
                    {{#if isFMC}}
                    <div>
                        <h4>Please manually enter your solutions length in <a href="https://www.speedsolving.com/wiki/index.php/Half_Turn_Metric" target="_blank">HTM (Half-Turn Metric)</a>.</h4>
                    </div>
                    {{else}}
                    <div class="timer-div flex-col">
                        <div id="seconds" class="timer-element">0</div>
                        <div id="dot" class="timer-element">.</div>
                        <div id="centiseconds" class="timer-element">00</div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="times-wrapper">
                {{#each scrambles}}
                    {{#if time}}
                        {{#if ../isFMC}}
                        <div class="single-time timer-pg-card fmc complete"
                                id="scramble_{{id}}"
                                data-id="{{id}}"
                                data-scramble="{{scramble}}"
                                data-rawTimeCentiseconds="{{time}}"
                                data-isPlusTwo="{{isPlusTwo}}"
                                data-isDNF="{{isDNF}}">
                            <div class="value-wrapper">{{ inc @index }}.</div>
                            <div class="time-value" contenteditable="true">{{ int_str (math time '/' 100) }}</div>
                        </div>
                        {{else}}
                        <div class="single-time timer-pg-card complete"
                                id="scramble_{{id}}"
                                data-id="{{id}}"
                                data-scramble="{{scramble}}"
                                data-rawTimeCentiseconds="{{time}}"
                                data-isPlusTwo="{{isPlusTwo}}"
                                data-isDNF="{{isDNF}}">
                            <div class="value-wrapper">{{ inc @index }}.</div>
                            <div class="time-value">{{ renderTime this }}</div>
                        </div>
                        {{/if}}
                    {{else}}
                        {{#if ../isFMC}}
                        <div class="single-time timer-pg-card fmc"
                                id="scramble_{{id}}"                      
                                data-id="{{id}}"
                                data-scramble="{{scramble}}"
                                data-rawTimeCentiseconds=""
                                data-isPlusTwo="false"
                                data-isDNF="false">

                            <div class="value-wrapper">{{ inc @index }}.</div>
                            <div class="time-value" contenteditable="true"></div>
                        </div>
                        {{else}}
                        <div class="single-time timer-pg-card"
                                id="scramble_{{id}}"
                                data-id="{{id}}"
                                data-scramble="{{scramble}}"
                                data-rawTimeCentiseconds=""
                                data-isPlusTwo="false"
                                data-isDNF="false">

                            <div class="value-wrapper">{{ inc @index }}.</div>
                            <div class="time-value">—</div>
                        </div>
                        {{/if}}
                    {{/if}}
                {{/each}}
                {{#unless isMobile}}
                <div class="widget-area no-padding blank">
                    <div class="comment-upload">
                        <form>
                            <textarea id="comment_{{comp_event_id}}" placeholder="Type an optional comment about {{event_name}} here!">{{comment}}</textarea>
                        </form>
                    </div><!-- Comment Upload  -->
                </div><!-- Widget Area -->
                {{/unless}}
            </div>
        </div>
    </div>
    <div class="row timer-scr-buttons">
        <div id="return-to-events">
            <button class="btn btn-lg btn-return">
                <i class="fas fa-caret-left"></i> Events
            </button>
        </div>
    </div>
</script>
{% endraw %}