{% raw %}
<script id='summary-template' type='text/x-handlebars-template'>
<div class="summary_page_wrapper">
    {{#if no_solves}}
    <div class="row summary-row">
        <div class="offset-lg-2 col-lg-8 col-12">
            <h5>
                You haven't recorded any solves yet! Go complete some solves, ya goober.
            </h5>
        </div>
    </div>
    {{/if}}
    {{#if complete_events}}
    <div class="row summary-row">
        <div class="offset-lg-2 col-lg-8 col-12">
            <h4>Complete Events</h4>
            {{#if logged_in}}
            <span class="d-none d-md-block">
                We'll submit a comment to Reddit for the events below.
            </span>
            {{else}}
            <span class="d-none d-md-block">
                We'll generate the comment source for the events shown below.
            </span>
            {{/if}}
            {{#each complete_events}}
            <div class="event_summary_wrapper">
                <div class="event_summary row" id="comp_event_{{comp_event_id}}">
                    <div class="col-2 col-md-1">
                        <img class="event-image" src="./static/images/cube-{{event_id}}.png">
                    </div>
                    <div class="col-4 col-md-2 name"><b>{{name}}</b></div>
                    <div class="col-6 col-md-5 summary" data-short="{{short_summary}}" data-long="{{summary}}"></div>
                    <div class="col-md-4 comment d-none d-md-block">{{comment}}</div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if incomplete_events}}
    <div class="row summary-row">
        <div class="offset-lg-2 col-lg-8 col-12">
            <h4>Incomplete Events</h4>
            {{#if logged_in}}
            <span class="d-none d-md-block">
                We'll save what you've completed so far.
            </span>
            {{else}}
            <span class="d-none d-md-block">
                To save your progress for, please login using Reddit.
            </span>
            {{/if}}
            {{#each incomplete_events}}
            <div class="event_summary_wrapper">
                <div class="event_summary row" id="comp_event_{{comp_event_id}}">
                    <div class="col-2 col-md-1">
                        <img class="event-image" src="./static/images/cube-{{event_id}}.png">
                    </div>
                    <div class="col-4 col-md-2 name"><b>{{name}}</b></div>
                    <div class="col-6 col-md-4 summary" data-short="{{short_summary}}" data-long="{{summary}}"></div>
                    <div class="col-md-5 comment d-none d-md-block">{{comment}}</div>
                </div>
            </div>
            {{/each}}            
        </div>
    </div>
    {{/if}}
    <div class="row summary-scr-buttons">
        {{#if show_submit_button}}
        <div id="summary-times-submit">
            <button class="btn btn-lg btn-submit">
                Submit to Reddit <i class="fas fa-caret-right"></i> 
            </button>
        </div>
        {{/if}}
        <div id="summary-return-to-events">
            <button class="btn btn-lg btn-return">
                <i class="fas fa-caret-left"></i> Events
            </button>
        </div>
    </div>
    <form action="/submit" method="POST" id="form-results">
        <input type="hidden" name="input-results" id="input-results" />
    </form>
</div>
</script>
{% endraw %}