{% raw %}
<script id='summary-template' type='text/x-handlebars-template'>
    <div class="row comp-info">
        <div class="col-md-12">
            <h3>Review {{comp_title}}</h3>
        </div>
    </div>
    {{#if complete_events}}
    <div class="row summary-row">
        <h4>Complete Events</h4><br/>
        {{#if logged_in}}
        <span>
            We'll submit a comment to the /r/cubers thread for this week's competition on your behalf,
            which will include the results for the events below.
        </span>
        {{else}}
        <span>
            We'll generate the comment source for the /r/cubers competition thread for the events shown below.
            You can copy this comment source and submit the comment yourself! Or next time, log-in for a more
            streamlined experience.
        </span>
        {{/if}}
        {{#each complete_events}}
        <div class="event_summary_wrapper">
            <div class="event_summary row" id="comp_event_{{comp_event_id}}">
                <div class="col-md-1">
                    <img class="event-image" src="./static/images/cube-{{event_id}}.png">
                </div>
                <div class="col-md-2 name"><b>{{name}}</b></div>
                <div class="col-md-4 summary">{{summary}}</div>
                <div class="col-md-5 comment">{{comment}}</div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if incomplete_events}}
    <div class="row summary-row">
        <h4>Incomplete Events</h4><br/>
        {{#if logged_in}}
        <span>
            These events aren't complete, but we'll save what you've done so far so you can pick
            it back up later!
        </span>
        {{else}}
        <span>
            These events aren't complete, so you'll lose these if you continue. To save progress for
            incomplete events in the future, login with your Reddit account!
        </span>
        {{/if}}
        {{#each incomplete_events}}
        <div class="event_summary_wrapper">
            <div class="event_summary row" id="comp_event_{{comp_event_id}}">
                <div class="col-md-1">
                    <img class="event-image" src="./static/images/cube-{{event_id}}.png">
                </div>
                <div class="col-md-2 name"><b>{{name}}</b></div>
                <div class="col-md-4 summary">{{summary}}</div>
                <div class="col-md-5 comment">{{comment}}</div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</script>
{% endraw %}