{% extends "common/base.html" %}

{% block title %}
/r/cubers comps!
{% endblock %}

{% block head %}
    {{ super() }}
    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="container cubers-container">
        <h3>show info about the current competition here</h3>
        <h4>event 1 scrambles, time entry</h4>
        <h4>event 2 scrambles, time entry</h4>
        <h4>event 3 scrambles, time entry</h4>
        <hr>
        <h2>Welcome, {{ current_user.username }}!</h2>
        <h3>Here are all the currently-registered users:</h3>
        <ul>
            {% for user in users %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}