{% extends "common/base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card text-center my-2">
            <div class="card-body">
                <h4 class="card-title">/r/cubers Weekly Competition!</h5>
                <a class="card-text">some sort of intro/explanation/welcome here</a>
            </div>
        </div>
        <div id="card-time-entry" class="card text-center">
            <div class="card-header pb-0">
                <ul id="event-tabs" class="nav nav-tabs nav-scroll">
                    {% for competition_event in current_competition.events %}
                        <li class="nav-item">
                            <a class="event-tab nav-link {% if loop.index0 == 0 %} active {% endif %}" href="#{{ competition_event.Event.name }}" data-competition-event-id="{{ competition_event.id }}" data-toggle="tab" aria-controls="{{ competition_event.Event.name }}" aria-selected="true">{{ competition_event.Event.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul id="timer-event-tabs" class="nav nav-tabs nav-scroll ultra-hidden">
                    {% for competition_event in current_competition.events %}
                        <li class="nav-item">
                            <a class="event-tab nav-link {% if loop.index0 == 0 %} active {% endif %}" href="#timer-{{ competition_event.Event.name }}" data-competition-event-id="{{ competition_event.id }}" data-toggle="tab" aria-controls="{{ competition_event.Event.name }}" aria-selected="true">{{ competition_event.Event.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body" style="padding-left: 3px; padding-right: 3px">
                <div id="dv-manual" style="display: none">
                    <div class="tab-content" style="margin-bottom: 20px">
                        {% for competition_event in current_competition.events %}
                        <div class="tab-pane fade {% if loop.index0 == 0 %} show active {% endif %}" id="{{ competition_event.Event.name }}" role="tabpanel" aria-labelledby="{{ competition_event.Event.name }}-tab">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <div class="container">
                                        <div class="justify-content-between form-group form-inline px-3">
                                            <label for="btn-switch-mode" style="font-size: 1.5rem">{{ competition_event.Event.name }}</label>
                                            <button class="btn-switch-mode btn btn-outline-secondary">Switch to Timer</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="scrambles">
                                        {% for scramble in competition_event.scrambles %}
                                            <div class="scramble" data-scramble-id="{{ scramble.id }}" data-scramble-num="{{ loop.index }}">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="scramble-num col-1 col-sm-2 col-md-1 col-lg-1" style="text-align: center"><span style="overflow-wrap: normal; padding-left: 5px;">{{ loop.index }}.</span></div>
                                                        <div class="col-8 col-sm-9 col-md-8 col-lg-8"><span>{{ scramble.scramble }}</span></div>
                                                        <div class="dv-scramble-time col-4 col-sm-3 col-md-3 col-lg-3" style="text-align: left"><span class="scramble-time" style="overflow-wrap: normal; padding-right: 5px"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row justify-content-center">
                        <div class="input-group col-12 col-md-10 col-lg-7">
                            <div class="input-group-prepend">
                                <button id="btn-plus-two" class="btn btn-plus-two" type="button">+2</button>
                                <button id="btn-dnf" class="btn btn-outline-danger btn-dnf" type="button">DNF</button>
                            </div>
                            <input id="input-time" type="text" class="form-control" placeholder="Time for Scramble 1" area-label"Time for Scramble 1">
                            <div class="input-group-append">
                                <button id="btn-enter-time" class="btn btn-cubers-primary-outline" type="button">Enter</button>
                            </div>
                            <div class="invalid-feedback">
                                Invalid time 
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dv-timer" style="">
                    <div class="tab-content" style="margin-bottom: 20px">
                        {% for competition_event in current_competition.events %}
                        <div class="tab-pane fade {% if loop.index0 == 0 %} show active {% endif %}" id="timer-{{ competition_event.Event.name }}" role="tabpanel" aria-labelledby="{{ competition_event.Event.name }}-tab">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <div class="container">
                                        <div class="justify-content-between form-group form-inline px-3">
                                            <label for="btn-switch-mode" style="font-size: 1.5rem">{{ competition_event.Event.name }}</label>
                                            <button class="btn-switch-mode btn btn-outline-secondary">Switch to Manual</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-12 col-md-10 col-lg-11">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 mb-4"></div>
                                <div>
                                    <span class="timer-time">
                                        ready
                                    </span>
                                </div>
                                <div class="w-100 mb-5"></div>
                                <div class="col-lg-12 col-md-10 col-sm-9 col-9">
                                    <div class="result">12:05.215</div>
                                    <div class="result">12:05.215</div>
                                    <div class="result">12:05.215</div>
                                    <div class="result">12:05.215</div>
                                    <div class="result">12:05.215</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row justify-content-center">
                    <div class="input-group col-12 col-md-10 col-lg-8 row justify-content-center">
                        <h5 class="col-11 text-center">Press the button below to proceed to submission or save your results for later.</h5>
                        <button id="btn-continue" class="btn btn-lg btn-outline-success col-lg-3 col-md-5 col-sm-8 col-11" style="margin-left: auto; margin-right: auto; margin-top: 10px">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="card-submit" class="card text-center" style="display: none">
            <div class="card-body">
                <h4 class="card-title">Overview</h4>
                <div class="d-flex align-items-center" style="min-height: 220px;">
                    <div style="width: 100%;">
                        <div class="justify-content-center px-3">
                            <ul id="overview" class="list-group col-12 col-md-10 col-lg-8" style="padding: 0px"></ul>
                        </div>
                        <h6 style="margin-top: 5px">Spot an error? Click on an event to correct it!</h6>
                    </div>
                </div>
                <hr>
                <h5>Click Submit to submit your results to be scored.</h5>
                <p class="mb-1">Don't worry, it's not permanent. You can come back and edit your results or compete in a new event.</p>
                <p id="unfinished-events-warning" class="mb-1 text-danger">You have unfinished events! They will be saved, but they will not be scored!</p>
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-sm-5 col-md-4 col-lg-3" style="margin-bottom: 5px;">
                        <button id="btn-cancel-submit" class="btn btn-lg btn-outline-secondary" style="width: 100%">Cancel</button>
                    </div>
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <button id="btn-submit" class="btn btn-lg btn-success" style="width: 100%">Submit</button>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <script>
        {% for competition_event in current_competition.events %}
            addEvent({{ competition_event.id }}, "{{ competition_event.Event.name }}");

            {% for scramble in competition_event.scrambles %}
                addScramble({{ competition_event.id }}, {{ scramble.id }});
            {% endfor %}
        {% endfor %}

        onTabSwitch(1);
    </script>
    {% assets "timer_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}