{% extends "common/base.html" %}

{% block head %}
    {{ super() }}
    {% block additional_styles %}
        {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    {% endblock %}
{% endblock %}

{% block content %}
<canvas id="shapes"></canvas>
<div class="cubers-container">
    {% include 'events/events_container.html' %}
</div>
{% endblock %}

{% block additional_script %}
{% assets "index_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}