{% extends "common/base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h3>this isn't final, just a placeholder page, it'll look nicer soon</h3>
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                Reddit comment source
            </div>
            <div class="card-body" style="padding: 3px">
                <div class="tab-content" style="margin: 20px">
                    <pre><code>{{ comment_source }}</code></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}